#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

button{
  border: none;
  background:none;

}

/****
 button:hover{
    color: black;
    background-color: cyan;
  
    transition: 0.7s ease-in-out;
  
}


***/


body{
  background: solid;
  background-color: rgb(74,134,232);
  background-image: url("/public/water1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0em 0em;
  color: gold;

}

.ourqueen{
width: 10em;
margin-top: -5em;
height: auto;


}
.mainbox{
  padding: 5em;
  background-color: transparent;
  backdrop-filter: blur(10px);
  background-image: url("/public/water.jpg");
  background-position: -3em,1em;
  width: 70em;
  border-radius: 1em;



}

.searchBar{
position: relative;
padding: 1em;
padding-right: 20em;
width: 20em;
height: 3em;
background-color: transparent;
backdrop-filter: blur(10px);
border: solid .5em gold;
border-radius: 1em;
margin-left: 2em;
color:gold;

}


.PlaylistScreen{

  background-color: rgb(74,134,232);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px; 
  
  width: 55em;
  margin:1em;
  margin-left: 4em;

  background-color: transparent;
  backdrop-filter: blur(40px);


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;


}

.setting_playlist_buttons button{
  margin: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/*rgb(74,134,232)
rgb(168,184,198)
rgb(0,255,255)*/