

.helo{



   background-color: transparent;
   backdrop-filter: blur(10px);

  border-radius: .5em;

  font-size:1em;
  font-weight: 800;
  font-family: inherit;

  margin-left: 5em;

    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px; 
    padding: 5em;


  
}




.musicPlayer button{
  grid-column: stuff;
    grid-row: stuff;
padding: 1em;
background-color: black;
border-radius: 10%;
margin-left: 1em;
top: -10em;
grid-area: buttons;
}
.musicPlayer button:hover{

padding: 1em;
background-color: cyan;
color:blue;
}

.helo img{
width: 10em;
margin-left: 1em;
margin-bottom: 2em;
height: auto;
border-radius: 50%;


}


.playbutton:hover{
  border: solid .4em gold;
}
input[type="range"]{

width: 100%;
height:5px;

accent-color: gold;

}


.track-duration{


    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px ;
}



.track-duration > p {

font-size: 1em;
font-weight:0;
color: gold;

margin: 0;

}

.helo .playbutton{
    border-radius: 50%;
    background-color: blue;
 
}

.helo .playbutton img{
width: 3em;
margin: 0;
height: auto;

}