.songCard{

    margin: 100em;
    border-color: none;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.5);
    padding: 10px;
    margin: 3em;
    text-align: center;
    width:20em;
    display: inline-block;
    justify-content: center;
    align-items: center; 
    background-color: transparent;
    background: blur(40px);

     background-color: #03045e;
     backdrop-filter: blur(40px);
    

    

    display: grid;
    place-items: center;
    grid-template-columns: 128px 150px;
    grid-template-rows: 3em 32px 32px 32px;

    grid-template-areas: 
      'songImageArea songTitleArea'
      'songImageArea songLengthArea'
      'songImageArea songArtistArea'
      'songImageArea songButtonArea';
}


.songCard:hover{
     background-color: #00b4d8;
    transition: 0.7s ease-in-out;
}

.songCard:hover .songButton{
     background-color: #03045e;
    transition: 0.7s ease-in-out;

}
.songCard .songImage{
    grid-area: songImageArea;
    width: 5em;
    border-radius: 50%; /* Circular crop */
    
}


.songCard .songTitle{
    margin-top: 2em;
    grid-area: songTitleArea;
  color: Cyan;
  font-size:20px;
  width: 8em;
 
}
.songCard:hover .songTitle{

  grid-area: songTitleArea;
   color: blue;
  
}

.songCard .songLength{
    grid-area: songLengthArea;
    margin-top: 2em;
    color: gold;
}
.songCard:hover .songLength{
    grid-area: songLengthArea;

    color: blue;
}
.songCard .songArtist{
    grid-area: songArtistArea;

    color: cyan;
}
.songCard:hover .songArtist{
    grid-area: songArtistArea;

    color: blue;
}


.songCard .songButton{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500; 
    font-family: inherit;
      background-color: #00b4d8;
    cursor: pointer;
    transition: border-color 0.25s;
    color: gold;
    grid-area: songButtonArea;
    margin-top: 2em;
}


.songCard .songButton:hover{
color: blue;
border-color: gold;
}

.songCard .deleteButton{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em;
    font-size: 1em;
    font-weight: 500; 
    font-family: inherit;
      background-color: #00b4d8;
    cursor: pointer;
    transition: border-color 0.25s;
      color: gold;

}
.songCard:hover .deleteButton{

      background-color: #03045e;
      
}
.songCard:hover .deleteButton:hover{
  color: blue;
      border-color: gold;
}

.songDropdown {
    color: gold;
   margin-top: 3em;
    position: relative;
    padding: 1em;
    background-color: #00b4d8;
    border-radius: 10%;
    min-width: 7em;
   margin-bottom: 2em;
   margin-left: 1em;

}
.songCard:hover .songDropdown{

     background-color: #03045e;
}



.play p{

   
    margin-top: 2em;
}
