#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


body{
  background: solid;
  background-color: rgb(74,134,232);
  background-image: url("/public/water.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0em -30em;
  color: gold;
  
}

.mainbox{
  padding: 5em;
  background-color: transparent;
  backdrop-filter: blur(10px);
  background-image: url("/public/water.jpg");
  background-position: -3em,1em;
  /*
  border: solid .5em rgb(0,255,255);
  border-radius: 1em;
  backdrop-filter: blur(1vh);
*/

  border-radius: 1em;


}

.searchBar{
padding: 1em;
width: 30em;
background-color: transparent;
backdrop-filter: blur(10px);
border: solid .5em gold;
border-radius: 1em;
margin:2em;
margin-top: -15em;
margin-left: -1em;
color:gold;

}

.songScreen{
  
  background-color: rgb(74,134,232);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px; 

  padding: 3em;
 
  width:25em;
  margin:1em;
  margin-left: 4em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: transparent;
  backdrop-filter: blur(40px);
  
}
button{
   background-color: blue;
}
.songScreen button{

  background-color: blue;
  padding: 1em;
  margin:1em;
  width: 13em;
  font-size: smaller;
  height: 9em;
color:gold;

  
}

 button:hover{
  color: black;
  background-color: cyan;
    transition: 0.7s ease-in-out;
  
}

.musicPlayer{
   background-color: transparent;
   backdrop-filter: blur(10px);
padding: 5em;
padding-top: 3em;
width: 30em;
border-radius: .5em;

  font-size:1em;
  font-weight: 800;
  font-family: inherit;



    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-radius: 10px; 

  
}


.setting_playlist_buttons button{
  margin: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
}


/*rgb(74,134,232)
rgb(168,184,198)
rgb(0,255,255)*/